run = "streamlit run main.py"
modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run main.py"]

[workflows]
runButton = "Run HYBRID + HTSX App"

[[workflows.workflow]]
name = "Run HYBRID + HTSX App"
author = 44454800
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run ui/streamlit_ui.py --server.address=0.0.0.0 --server.port=5000"
