run = "uvicorn main:app --host 0.0.0.0 --port 3000"
modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["c-ares", "cargo", "glibcLocales", "grpc", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc", "zlib"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]

[workflows]
runButton = "Run HYBRID + HTSX App"

[[workflows.workflow]]
name = "Run HYBRID + HTSX App"
author = 44454800
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python start_hybrid.py"

[[ports]]
localPort = 5000
externalPort = 80
